[submodule "tmux/plugins/tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://git::@github.com/tmux-plugins/tmux-battery
[submodule "tmux/plugins/tmux-better-mouse-mode"]
	path = tmux/plugins/tmux-better-mouse-mode
	url = https://git::@github.com/nhdaly/tmux-better-mouse-mode
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule "zsh/bundles/robbyrussell/oh-my-zsh"]
	path = zsh/bundles/robbyrussell/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "zsh/bundles/zsh-users/antigen"]
	path = zsh/bundles/zsh-users/antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "zsh/bundles/zsh-users/zsh-autosuggestions"]
	path = zsh/bundles/zsh-users/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/bundles/zsh-users/zsh-history-substring-search"]
	path = zsh/bundles/zsh-users/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "zsh/bundles/zsh-users/zsh-syntax-highlighting"]
	path = zsh/bundles/zsh-users/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
